<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/default.css" type="text/css" media="screen" title="no title" charset="utf-8">
<title>CNDLS Timeline App</title>
</head>

<body>
<article>
	<header>
		<h1> Timeline App</h1>
	</header>

	<section>
		
		<h3> Introduction </h3>
		<p> This is a simple prototype of a timelime tool. The user can create events and these events get displayed on a timeline. </p>
		
		<p> It is built using the following framework/library:
			<ul>
				<li><a href="https://www.djangoproject.com/">Django</a></li>
				<li><a href="http://timeglider.com/jquery/">Timeglider</a></li>
			</ul>
		</p>

		<div class="separator"></div>

		<h3> Examples </h3>
		<ul>
			<li><a href="timelines/1/2/"> CNDLS </a></li>	
		</ul>
		

		<div class="separator"></div>

		<h3> Instructions </h3>
		<p> Instructions to get started:
			<ul>
				<li> Coming soon :)</li>
				
			</ul>
		</p>

		<div class="button">
			<p><a href="admin/">Get Started!</a></p>
		</div>
	</section>
</article>
</body>

</html>